<div class="row">
	<div class="col-xs-2 col-xs-offset-8">
		<div class="row">
			<div class="col-xs-12 gadget-contact text-center">
				<p class="gadget-contact-title">Contact Us</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 gadget-email">
				<img src="../assets/images/Sobre.png" alt="Email" class="text-center">
				<a href="mailto:carlosreyes@gadget-technology.com"></a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 gadget-telephone">
				<img src="../assets/images/Telefono.png" alt="Telephone">
				<span>+1-713-517-6925</span>
			</div>
		</div>
	</div>
</div>