<div class="row">
	<div class="col-xs-1 col-xs-offset-10">
		<div class="row">
			<div class="col-xs-12 gadget-contact">
				<p class="gadget-contact-title">Contact Us</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<img src="../assets/images/Sobre.png" alt="Email" class="text-center">
				<br>
				<a class="gadget-email" href="mailto:carlosreyes@gadget-technology.com"></a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<img src="../assets/images/Telefono.png" alt="Telephone">
				<span class="gadget-telephone">+1-713-517-6925</span>
			</div>
		</div>
	</div>
</div>