/*===============================
=            Contact            =
===============================*/

.gadget-contact{
	background-color: #79c843;
}

.gadget-contact-title{
	font-size: 25px;
	font-weight: bold;
}

.gadget-email{
	background-color: #57585b;
	color: #57585b;
	font-size: 18px;
	font-weight: bold;
}

.gadget-telephone{
	color: #fff;
}
/*=====  End of Contact  ======*/
