<nav class="navbar navbar-default navbar-fixed-top gadget-navbar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-1">
				<a href="#" class="navbar-brand">
					<img src="../assets/images/logo_GT_small.png" alt="Gadget">
				</a>
			</div>
			<div class="col-xs-6 gadget-navbar-menu">
				<div class="row">
					<div class="col-xs-2 col-xs-offset-1"><p class="navbar-text">IT SERVICES & SUPPORT</p></div>
					<div class="col-xs-2"><p class="navbar-text">NETWORKING</p></div>
					<div class="col-xs-2"><p class="navbar-text">SURVEILLANCE CAMERAS</p></div>
					<div class="col-xs-2"><p class="navbar-text">AUDIO & VIDEO</p></div>
					<div class="col-xs-2"><p class="navbar-text">AUTOMATION</p></div>
				</div>
			</div>
		</div>
	</div>
</nav>
