$font-stack: "Myriad Pro", "Gill Sans", Helvetica, sans-serif;
$baseColor1: #c7c9cc;
$baseColor2: #58595b;
$navBarHeight: 76px;

/*==============================
=            Navbar            =
==============================*/
.gadget-navbar{
	height: 80px;
	background-color: $baseColor1;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-brand{
	padding: 7px 15px 0px 0px;
}

.gadget-navbar-menu{
	background-color: $baseColor2;
	height: 80px;
}

.gadget-navbar-menu-text > li > a{
	color: #fff !important;
}

.gadget-dropdown-menu-container{
	padding-left: 13px;
}

.gadget-dropdown-menu{
	height: 6px;
}

.gadget-dropdown-menu-it{
	background-color: #b28bbf;
}

.gadget-dropdown-menu-networking{
	background-color: #36a2c7;
}

.gadget-dropdown-menu-surveillance{
	background-color: #fce72f;
}

.gadget-dropdown-menu-audio{
	background-color: #b5d66c;
}

.gadget-dropdown-menu-automation{
	background-color: #f78d38;
}


/*=====  End of Navbar  ======*/
