$font-stack: "Myriad Pro", "Gill Sans", Helvetica, sans-serif;
$baseColor1: #c7c9cc;
$baseColor2: #58595b;

.gadget-navbar {
	font: 100% $font-stack;
	background-color: $baseColor1;
	min-height: 76px;
}

.gadget-navbar-menu{

}