$font-stack: "Myriad Pro", "Gill Sans", Helvetica, sans-serif;
$baseColor1: #c7c9cc;
$baseColor2: #58595b;
$baseColor3: #8f9095;
$navBarHeight: 76px;

body{
	font: 100% $font-stack;
	background-color: $baseColor3;
}

img{
	max-width: 100%;
}

.gadget-full{
	padding-left: 0px;
	padding-right: 0px;	
}

.gadget-relative{
	position: relative;
	margin-top: 80px;
}
.gadget-absolute{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/*=============================================
=            Background Section            =
=============================================*/

.gadget-background{
	width: 100%;
}

/*=====  End of Background Section  ======*/

/*======================================
=            Title sections            =
======================================*/

.gadget-h1{
	font-size: 5vw;
}

.gadget-h2{
	font-size: 2vw;
	font-weight: bold;
}

.gadget-h4{
	font-size: 1vw;
}

.gadget-h4-bold{
	font-size: 1vw;
	font-weight: bold;
}

.gadget-content-container{
	margin-top: 10%;
	margin-left: 10%;
}

/*=====  End of Title sections  ======*/