$font-stack: "Myriad Pro", "Gill Sans", Helvetica, sans-serif;
$baseColor1: #c7c9cc;
$baseColor2: #58595b;
$navBarHeight: 76px;

body{
	font: 100% $font-stack;
}

.gadget-viewport{
	padding-left: 0px;
	padding-right: 0px;	
}

/*=============================================
=            Background Section            =
=============================================*/

.gadget-background{
	background-color: #8f9095;
	background-image: url(../assets/images/GT_Imagen_1600x762.jpg);
	margin-top: 80px;
}

/*=====  End of Background Section  ======*/

/*======================================
=            Title sections            =
======================================*/

.gadget-h1{
	font-size: 5em;
}

.gadget-h2{
	font-size: 30px;
	font-weight: bold;
}

/*=====  End of Title sections  ======*/