<div class="container-fluid gadget-full">
	<div ng-include="'app/components/navbar/navbar.html'"></div>
	<section class="gadget-relative">
		<img class="gadget-background" src="../assets/images/GT_Imagen_1600x762.jpg" alt="Gadget">
		<div class="gadget-absolute">
			<div class="container gadget-full gadget-content-container">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<span class="gadget-h1">Soon!</span>
						<br>
						<span class="gadget-h2">Solutions, services and<br> technology products,</span>
						<br>
						<span class="gadget-h4">through an ingenious organization adaptive<br> to the needs of your company, business,<br> home or space, with the ability to provide the<br> most innovative and practical in various areas.</span>
						<br>
						<span class="gadget-h4-bold">August, 2015</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
