<div class="container-fluid">
	<div class="container-fluid" ng-include="'app/components/navbar/navbar.html'"></div>
	<div class="container-fluid gadget-background">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-1">
				<h1 class="gadget-h1">Soon!</h1>
				<h2 class="gadget-h2">Solutions, services and technology products,</h2>
				<h4 class="gadget-h4">through an ingenious organization adaptive to the needs of your company, business, home or space, with the ability to provide the most innovative and practical in various areas.</h4><br>
				<h4><strong>August, 2015</strong></h4>
			</div>
		</div>
	</div>
	<div class="container-fluid" ng-include="'app/components/contact/contact.html'"></div>
</div>
